.deleteProductMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  overflow-y: scroll;
}
.deleteProductContainer {
  position: relative;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  justify-content: space-between;
  padding-right: 10px;
  width: 33%;
  display: block;
}
.deleteProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.deleteProductImage {
  width: 100%;
  object-fit: cover;
}
.deleteProductDesc {
  background-color: rgb(48, 48, 68);
  width: 100%;
  padding: 10px 0px 10px 5px;
  color: white;
  font-size: 14px;
  
}
.deleteProductItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(238, 238, 238);
  margin: auto 0px;
}
.deleteProductName {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}
.deleteProductIcon {
  font-size: 14px;
  text-align: center;
  padding: 15px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.deleteProductIcon:hover {
  font-size: 14px;
  text-align: center;
  padding: 15px;
  color: rgb(255, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
