.cardContainerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  position: relative;
  margin-bottom: 50px;
}
.cardContainerTopItems {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.cardDiscountExploreItem{
  background-color: rgb(255, 115, 0);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}
.discount {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
 
  padding: 10px;
  color: white;
}
.productIconExplore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ProductIconExploreIcon {
  color: grey;
  font-size: 18px !important;
}
.cardContainerBottomItems {
  position: relative;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.cardContainerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  padding-right: 10px;
  padding-bottom: 20px;
}
.cardImage {
  width: 100%;
  object-fit: cover;
}
.cardContainerBottomItemsHeader {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(128, 128, 128);
}
.cardPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.maxPrice {
  font-weight: 600;
  font-size: 16px;
  color: rgb(155, 70, 0);
}
.operand {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 115, 0);
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.starContent {
  color: rgb(255, 115, 0);
  font-size: 14px !important;
}

/* this is carousel example css  */
.slick-slider div {
  display: flex !important;
  /* width: 100% !important; */
  gap: 10px;
}
/* .slick-next{
  background-color: rgb(0, 0, 0) !important;
  z-index: 99999999;
  right: 40px !important;
} */
.carouselContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 33%;
  padding: 5px;
}

.box {
  background-color: green;
  height: 40;
  padding: 50px 150px;
}
.box h3 {
  text-align: center;
}
