.storeProductMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;

}
.storeProductContainer {
  position: relative;
  background-color: rgb(253, 253, 253);
  cursor: pointer;
  justify-content: space-between;
  padding-right: 10px;
  width: 25%;
  display: block;
}
.mainProIcon {
  background-color: white;
  font-size: 50px !important;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 10px;
}
.newProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.storeProductImage {
  width: 100%;
  object-fit: cover;
}
.storeProductDesc {
  background-color: rgb(48, 48, 68);
  width: 100%;
  padding: 10px 0px 10px 5px;
  color: white;
  font-size: 14px;
  padding: 10px;
}
.storeProductItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin: auto 0px;
  padding: 10px;
}
.storeProductName {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}
.newProductPrice {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
