* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}
.checkoutContainerLeft {
  flex: 2;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
}
.trackItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
}
.vl {
  border-left: 1px solid rgb(202, 202, 202);
  height: 500px;
}
.checkoutStatusContainer {
  background-color: rgb(0, 135, 168);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkoutStatus {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 20px !important;
  font-weight: 600;
}
.checkoutTitle {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 40px;
}
.checkoutContainerCenter {
  flex: 6;
  background-color: rgb(255, 255, 255);
  padding: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.checkoutLabel {
  font-size: 36px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}
.cardTypeTitle {
  text-transform: capitalize;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}
.cardChoiceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cardChoiceVisa {
  border: 1px solid rgb(126, 126, 126);
  padding: 30px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardChoiceMaster {
  border: 1px solid rgb(126, 126, 126);
  padding: 30px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardChoiceVisa span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.cardChoiceMaster span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.cardNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.cardNumberTitle {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.cardNumber {
  padding: 10px 10px;
  width: 100%;
  align-items: left;
  border: 1px solid rgb(201, 201, 201);
}
.cardNumber:focus {
  outline: none;
  border: 1px solid rgb(30, 1, 194);
}
.cardInfor {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.cardNumberCvv {
  padding: 10px 10px;
  width: 100%;
  align-items: left;
  border: 1px solid rgb(201, 201, 201);
  margin-top: 20px;
}
.cardNumberCvv:focus {
  outline: none;
  border: 1px solid rgb(30, 1, 194);
}
.cardNumberContainerSaveDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cardSaveDetails {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  padding-left: 40px;
}
.cardNumberButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}
.backButton {
  padding: 10px 50px;
  border: none;
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  color: rgb(63, 63, 63);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.purchaseButton {
  padding: 10px 50px;
  border: none;
  background-color: rgb(19, 0, 190);
  border-radius: 10px;
  color: rgb(211, 211, 211);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}
.checkoutContainerRight {
  flex: 4;
  background-color: rgb(255, 255, 255);
  padding: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.checkoutOrderHeader {
  font-size: 36px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}
.checkoutOrderProduct {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
